@import "../../../styles/mixins.css";

.section {
  position: relative;
  padding: 8rem 2rem;
  background: var(--charcoal);
  color: var(--white);
  overflow: hidden;

  &[data-color="pink"] {
    background: var(--pink);
  }
  &[data-color="pacific"] {
    background: var(--pacific);
  }
  &[data-color="yellow"] {
    background: var(--yellow);
  }
  &[data-color="apple"] {
    background: var(--apple);
  }

  @media (--large) {
    padding: 12rem 2rem;
  }
}

.hero {
  composes: section;
  height: 100svh;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
  text-align: center;

  h1 {
    text-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.2);
    @media (--large) {
      font-size: 16rem;
    }
  }

  p {
    max-width: 60rem;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageBanner {
  height: 50rem;
  background: var(--charcoal);
  overflow: hidden;
}

.coverImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
