@import "../../styles/mixins.css";
@import "../../styles/breakpoints.css";

.container {
  max-width: 76rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.newsletter {
  padding: 12rem 0;
}

.title {
  margin-bottom: 2rem;

  span {
    font-weight: 700;
  }
}

.message {
  margin-bottom: 4rem;
}

.references {
  padding: 4rem 0;
  background: var(--offWhite);
  color: var(--charcoal);
}

.about {
  padding: 8rem 0;
  background: var(--turquoise);
  color: var(--charcoal);

  h2 {
    margin-bottom: 2rem;
  }
}

.posts {
  padding: 8rem 0;
}

.postsHeader {
  @media (--medium) {
    text-align: center;
  }

  h2 {
    margin-bottom: 2rem;
  }
}

.postExcerpts {
}
