@import "../../styles/mixins.css";
@import "../../styles/breakpoints.css";

.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.newsletter {
  padding: 8rem 0;
  max-width: 60rem;
}

.title {
  margin-bottom: 2rem;

  span {
    font-weight: 700;
  }
}

.message {
  margin-bottom: 4rem;
}

.references {
  padding: 4rem 0;
  background: var(--offWhite);
  color: var(--charcoal);
}

.reference {
  @media (--large) {
    margin-left: 10rem;
  }
}

.posts {
  padding: 4rem 0;
}
