@import "../../styles/mixins.css";
@import "../../styles/breakpoints.css";

.homePage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 4rem;

  span {
    font-weight: 700;
  }
}

.message {
  font-size: 2.4rem;
}
