@import "../../../styles/mixins.css";

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--turquoise);
  color: var(--white);
}

.message {
  background: var(--charcoal);
  padding: 2rem 4rem;
  @mixin headline1;
}

.toggle {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 12rem;
  text-transform: uppercase;
}
