@import "../../../styles/mixins.css";
@import "../../../styles/breakpoints.css";

.reference {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

  @media (--medium) {
    flex-direction: row;
    align-items: center;
  }
}

.image {
  flex: 0 0 12rem;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: var(--charcoal);

  img {
    filter: grayscale(1);
  }

  svg {
    width: 50%;
    height: auto;

    path {
      fill: var(--offWhite);
    }
  }
}

.quote {
  p {
    margin: 0 0 1rem;
  }
  cite {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
