@import "../../styles/mixins.css";
@import "../../styles/breakpoints.css";

.button {
  @mixin smallCaps;
  display: flex;
  align-items: center;
  height: 4.4rem;
  padding: 0 2.4rem;
  border: 2px solid;
  border-radius: 4.4rem;
  transition: all 0.3s ease;
  outline: none;
  cursor: pointer;

  &[data-style="white"] {
    background: var(--white);
    border-color: var(--white);
    color: var(--charcoal);

    &:focus-visible {
      border-color: var(--charcoal);
    }

    &:hover {
      background: var(--turquoise);
      border-color: var(--turquoise);
    }
  }

  &[data-style="charcoal"] {
    background: var(--charcoal);
    border-color: var(--charcoal);
    color: var(--white);

    &:focus-visible {
      border-color: var(--white);
    }

    &:hover {
      background: var(--turquoise);
      border-color: var(--turquoise);
    }
  }

  &[data-style="turquoise"] {
    background: var(--turquoise);
    border-color: var(--turquoise);
    color: var(--charcoal);

    &:focus-visible {
      border-color: var(--white);
    }

    &:hover {
      background: var(--white);
      border-color: var(--white);
    }
  }
}
