@import "../../../styles/mixins.css";
@import "../../../styles/breakpoints.css";

.meta {
  margin: 0 0 1rem;
}

.title {
  margin: 0 0 2rem;
}

.excerpt {
  margin: 0 0 2rem;
}

.more {
  @mixin smallCaps;
}
