@import "./mixins.css";

:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-family-default: "Barlow", sans-serif;
  --font-family-heading: "Big Shoulders Display";
  --font-family-alt: "Big Shoulders Text";

  --font-size-body: 1.6rem;
  --line-height-body: 1.5;

  --white: #ffffff;
  --charcoal: #373f51;
  --grey: #b8b3be;
  --pacific: #38aecc;
  --turquoise: #28afb0;
  --cerise: #e63462;
  --apple: #9ee37d;
  --yellow: #ffc914;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--charcoal);
  color: #fff;
  font-family: var(--font-family-default);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  /* -webkit-font-smoothing: antialiased; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin-bottom: 2rem;
}

h1 {
  @mixin headline1;
}

h2 {
  @mixin headline2;
}

h3 {
  @mixin headline3;
}

h4 {
  @mixin headline4;
}

h5 {
  @mixin headline5;
}

h6 {
  @mixin headline6;
}
